<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Log in for user</title>
  <link rel="stylesheet" href="loginForUser.css">
  <link rel="stylesheet" href="util.css">
</head>

<body id="container">
  <div class="main">
    <div class="content">
      <div class="loginTitle">Log in</div>
      <div class="welcome">
        <div class="upper">Welcome to</div> <span class="lower1">Easy</span><span class="lower2">Pg</span>
      </div>
      <form class="formC" action="" autocomplete="off" method="post">
        <div class="parentforum">
          <div class="mainforum">
            <input class="emailText" name="email" type="text" placeholder="Email">
            <div class="password-container">
              <input type="password" name="password" class="passwordText" id="password" placeholder="Password">
              <div class="eye-icon" onclick="togglePassword()">
                <img id="eye" src="closeEye.png" alt="Eye Icon">
              </div>
            </div>
            <button class="loginSubmit" type="submit">Log in</button>
            <br>
            <div class="or">Or</div>
            <br>
            <div class="parentSignupGoogle">
              <div class="signupGoogle"><img class="googleimg" src="google.png" alt="" srcset="">
                <div class="signupwithgoogleText">Sign up with Google Account</div>
              </div>
            </div>
            <br>
            <div class=" parentSignupGoogle notAccount">Don't have a EasyPg Account? <div id="sign_up" onclick="show()"> Sign Up</div>
              <div class="select">
                <div class="userme">User</div>
                <div class="messOwnerme">Mess Owner</div>
              </div>

            </div>
          </div>
        </div>

      </form>


    </div>
    <div class="findNearestMess">
      <div class="col1"></div>
      <div class="col2"></div>
      <div class="col3"></div>
      <img class="ellipse" src="Ellipse.png" alt="" srcset="">
      <div class="FindyourNearestMess">Find your Nearest Mess</div>
    </div>
  </div>

  <script>
    function togglePassword() {
      var passwordField = document.getElementById("password");
      var eyeIcon = document.getElementById("eye");

      if (passwordField.type === "password") {
        passwordField.type = "text";
        eyeIcon.src = "openEye.png";
      } else {
        passwordField.type = "password";
        eyeIcon.src = "closeEye.png";
      }
    }
    var showfield=document.getElementById("sign_up");
    function show(){
     
      showfield.style.cssText='visibility: visible;'
    }



  </script>


</body>

</html>