<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in for user</title>
    <link rel="stylesheet" href="loginForUser.css">
    <link rel="stylesheet" href="util.css">
</head>

<body id="container">
    <div class="main">
        <div class="content">
            <div class="loginTitle">Log in</div>
            <div class="welcome">
                <div class="upper">Welcome to</div> <span class="lower1">Easy</span><span class="lower2">Pg</span>
            </div>
            <form class="formC" action="" method="post">
                <div class="parentforum">
                    <div class="mainforum">
                        <input class="emailText" type="text" placeholder="Email">
                        <input type="text" class="passwordText" placeholder="Password">
                        <button class="loginSubmit" type="submit">Log in</button>
                        <br>
                        <div class="or">Or</div>
                        <br>
                        <div class="parentSignupGoogle">
                            <div class="signupGoogle"><img class="googleimg" src="google.png" alt="" srcset="">
                                <div class="signupwithgoogleText">Sign up with Google Account</div>
                            </div>
                        </div>


                    </div>
                </div>
            </form>


        </div>
        <div class="findNearestMess">
            <div class="col1"></div>
            <div class="col2"></div>
            <div class="col3"></div>
            <img class="ellipse" src="Ellipse.png" alt="" srcset="">
            <div class="FindyourNearestMess">Find your Nearest Mess</div>
        </div>
    </div>

</body>

</html>