<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in for user</title>
    <link rel="stylesheet" href="loginForUser.css">
    <link rel="stylesheet" href="util.css">
</head>

<body id="container">
    <div class="main">
        <div class="content">
           <div style="position: absolute;"> <div class="loginTitle">Log in</div>
            <div class="welcome">
                <div class="upper">Welcome to</div> <span class="lower1">Easy</span><span class="lower2">Pg</span>
            </div></div>
            <form class="formC" action="" method="post">
                <div class="parentforum">
                    <div class="mainforum">
                        <input class="emailText" type="text" name="email" placeholder="Email" autocomplete="off">
                        <div class="password-container">
                            <input type="password" id="password" name="password" class="passwordText"  placeholder="Password" autocomplete="off">
                          
                              <img id="eye" src="closeEye.png" alt="Eye Icon"  onclick="togglePassword()">
                            
                          </div>
                        <button class="loginSubmit" type="submit">Log in</button>
                        <br>
                        <div class="or">Or</div>
                        <br>
                        <div class="parentSignupGoogle">
                            <div class="signupGoogle"><img class="googleimg" src="google.png" alt="" srcset="">
                                <div class="signupwithgoogleText">Sign up with Google Account</div>
                            </div>
                        </div>
                        <br>
                       <div class="parentnotAccount"> <div class="notAccount">Don't have any EasyPg account?<a class="whoareyou" id="signupLink" href="./signupUser"> Sign Up</a> </div></div>
                       <!-- <div class="popup" id="signupPopup">
                        <div class="popup-content">
                          <span class="close" onclick="closePopup()">&times;</span>
                          <p>Choose an option:</p>
                          <div onclick="selectUser()">User</div>
                          <div onclick="selectMessOwner()">Mess Owner</div>
                        </div>
                      </div> -->

                    </div>
                </div>
        

        </form>


    </div>
    <div class="findNearestMess">
     <div class="parent-img">
      <img class="ellipse" src="Ellipse.png" alt="" srcset="">
     </div>
      <div class="parent-elipse">
        <div class="FindyourNearestMess">Find your 
          Nearest Mess</div>
          
      </div>
        <div class="parent-column">
          <div class="col1"></div>
        <div class="col2"></div>
        <div class="col3"></div></div>
       
    </div>
    </div>

    <script>
        function togglePassword() {
    var passwordField = document.getElementById("password");
    var eyeIcon = document.getElementById("eye");

    if (passwordField.type === "password") {
      passwordField.type = "text";
      eyeIcon.src = "openEye.png"; // Replace with the path to your open eye icon
    } else {
      passwordField.type = "password";
      eyeIcon.src = "closeEye.png"; // Replace with the path to your closed eye icon
    }
  }
//   document.getElementById('signupLink').addEventListener('click', function() {
//   var popup = document.getElementById('signupPopup');
//   var con=document.getElementById('container');
//   con.style.opacity=0.5;
//   popup.style.display = 'block';
//   setTimeout(function() {
//     popup.style.opacity = 1;
//   }, 10); 
// });

// function closePopup() {
//   var popup = document.getElementById('signupPopup');
//   var con=document.getElementById('container');
//   con.style.opacity=1;
//   popup.style.opacity = 0;
//   setTimeout(function() {
//     popup.style.display = 'none';
//   }, 300); // Matching the transition duration
// }

// function selectUser() {
//   alert('User selected');
//   closePopup();
// }

// function selectMessOwner() {
//   alert('Mess Owner selected');
//   closePopup();
// }



    </script>


</body>

</html>