<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Who are you?</title>
    <link rel="stylesheet" href="provider-seeker-page.css">
    <link rel="stylesheet" href="footerstyle.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="main-container">
        <div class="left-container">
            <h3>Sign Up</h3>
            <h4>Who are you ?</h4>
            <button id="seeker">Mess Seeker</button>
            <button id="provider">Mess Owner</button>
        </div>
        <div class="right-container">
            <img src="house-design.png" alt="sweet-home">
        </div>
    </div>

    <section class="last-section">
        <div class="last-section-container">
            <div class="col1">
                <ul>
                    <li class="footereasypg">Easy <span>Pg</span></li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus nobis sequi expedita
                        possimus vel
                        reprehenderit nulla, atque reiciendis ex fugit quod. Dicta, consectetur? Tempora sunt delectus
                        aperiam sed
                        soluta atque.</li>
                </ul>
            </div>
            <div class="col2">
                <ul>
                    <li class="first-item">Company</li>
                    <li>Careers</li>
                    <li>About Us</li>
                    <li>For Partners</li>
                    <li>Terms</li>
                    <li>Privacy Policy</li>
                    <li>Contact Us</li>
                </ul>
            </div>
            <div class="col2">
                <ul>
                    <li class="first-item">SUPPORT</li>
                    <li>FAQe</li>
                    <li>Contact Us</li>
                </ul>
            </div>
            <div class="col2">
                <ul>
                    <li class="first-item">QUICK LINK</li>
                    <li>Terms</li>
                    <li>Privacy Policy</li>
                </ul>
            </div>
            <div class="footer-text">
                copyright 2024 - All Right Reserved by <span class="Easyp-pv-ltd">Easypg.pv.ltd
                </span>
            </div>
        </div>
    </section>
</body>

</html>