<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../designs/sign_up_for_owner.css">
</head>
<body style="background: linear-gradient(123deg, rgba(9, 225, 255, 0.41) 0%, rgba(217, 217, 217, 0.00) 72.32%); height: auto;">


    <div class="uppernav">
    <div style="width: 90%; display: flex; align-items: center;">
        <div class="signupheader">sign up</div>
        <div class="headertext">House owner</div>
    </div>
    <div style="width: 10%; display: flex; align-items: center;">
        <div class="logo" style="display: flex;">
           <div style="color: #2CA4B5;">Easy</div>
           <div style="color: #1B2093;">Pg</div>
        </div>
    </div>
    </div>

    <form action="">
    <div class="formbody" style="padding: 50px 140px; display: flex;">
       


            <div class="leftform" style="width: 60%;">
            <div class="formheader">creat a Account</div>
            <div class="inputboxes" style="display: grid;">
               <div class="inputbox" style="grid-row: 1;"><input type="text" placeholder="First Name"></div>
               <div class="inputbox" style="grid-row: 1;"><input type="text" placeholder="Last Name"></div>
               <div class="inputbox" style="grid-column: 1 / span 2; ;grid-row: 2;"><input type="text" placeholder="Email Address"></div>
               <div class="inputbox" style="grid-column: 1 / span 2; ;grid-row: 3;"><input type="text" placeholder="Address"></div>
               <div class="inputbox" style="grid-row: 4;"><input type="text" placeholder="Password"></div>
               <div class="inputbox" style="grid-row: 4;"><input type="text" placeholder="Pincode"></div>
               <div class="inputbox"  style="grid-column: 1 / span 2;;grid-row: 5;"><input type="text" placeholder="Mobile No."></div>
            </div>
            </div>

            <div class="rightform" style="width: 40%;">
                <div class="Ellipse3" style="width: 232px; height: 218px; background: rgba(6.64, 74.65, 83.92, 0.10); border-radius: 9999px">
                <img src="../assests/upload 2.png" alt="" srcset="" style="cursor: pointer;">
                </div>
                <div class="uploadtxt">Uplode Your Profile  Photo</div>
            </div> 
          
    </div>

    <div class="downform" style="padding: 0px 140px; display: grid;">
        <div style="display: flex;"><div class="checkfacilitytxt" style="border-radius: 44px;background: rgba(7, 75, 84, 0.10);">Chek your Provide Fecility</div></div>
        <div class="checkboxes" style="width: 100%; display: grid;  grid-template-columns: 1fr 1fr 1fr; ">

        <div >
            <div class="checkboxicon"><img src="../assests/air-conditioner 1.png" alt="" srcset=""></div><input type="checkbox" id="test1" />
            <label for="test1"></label><div class="checkboxtxt">A/C</div>
        </div>
        <div >
            <div class="checkboxicon"><img src="../assests/screen 1.png" alt="" srcset=""></div><input type="checkbox" id="test2" 
            checked="checked"/>
            <label for="test2"></label><div class="checkboxtxt">TV</div>
    </div>
        <div >
            <div class="checkboxicon"><img src="../assests/power 1.png" alt="" srcset=""></div><input type="checkbox" id="test3" />
            <label for="test3"></label><div class="checkboxtxt">Power Backup</div>
        </div>
        <div >
            <div class="checkboxicon"><img src="../assests/wifi (1) 1.png" alt="" srcset=""></div><input type="checkbox" id="test4" />
            <label for="test4"></label><div class="checkboxtxt">Wi-fi</div>
        </div>
        <div >
            <div class="checkboxicon"><img src="../assests/restaurant 1.png" alt="" srcset=""></div><input type="checkbox" id="test5" />
            <label for="test5"></label><div class="checkboxtxt">Kitchen</div>
        </div>
        <div >
            <div class="checkboxicon"><img src="../assests/tank-water 1.png" alt="" srcset=""></div><input type="checkbox" id="test6" />
            <label for="test6"></label><div class="checkboxtxt">Water Available Anytime</div>
        </div>
        <div >
            <div class="checkboxicon"><img src="../assests/single-bed (1) 1.png" alt="" srcset=""></div><input type="checkbox" id="test7" />
            <label for="test7"></label><div class="checkboxtxt">Double Bad</div>
        </div>
        <div >
            <div class="checkboxicon"><img src="../assests/single-bed 1.png" alt="" srcset=""></div><input type="checkbox" id="test8" />
            <label for="test8"></label><div class="checkboxtxt"><img src="../assests/single-bed 1.png" alt="" srcset=""></div>
        </div>
    </div>

    <div class="inputbox" style="width: 30%;"><input type="text" placeholder="Mess Name"></div>
    <div class="inputbox" style="height: 90px;"><input type="text" placeholder="About Your Mess"></div>
    <div style="display: flex;"><div class="inputbox" style="width: 50%;"><input type="text" placeholder="Using Map for Your Mess , Tap a Location Button">
    </div>
    <img src="../assests/map-marker 1.png" alt="" srcset="" style="height: 30px; width: 30px; margin: 35px;">
    </div>

    <div style="display: flex; justify-content: center;">
        <div class="uploadphoto" style="width: 80%;" >
        <div style="display: flex; justify-content: center; flex-direction: column;">
             <div style="display: flex; justify-content: center;"><img src="../assests/upload 1.png" alt="" style="cursor: pointer;"></div>
            <div class="uploadmesstxt">Uplode Your Room Photo</div>
            <div class="uploadphotowarning">Maximum 1.5 MB Ratio Photo Support</div>
        </div>
        </div>
    </div>

    <div class="terms" style="display: flex; justify-content: center;" >
        <input type="checkbox" id="test9" />
        <label for="test9"></label>
        <div class="termstxt">Check all </div><div class="termstxt" style="color:  #2CA4B5;">Trems & Condition </div><div class="termstxt">and Privacy</div>
        <div class="termstxt" style="color:  #2CA4B5;">Policy</div>
    </div>

    <div class="terms" style="display: flex; justify-content: center;" >
        <button class="creataccountbtn" type="submit" style="cursor: pointer;">Crate a Account</button>
    </div>
    </div>

</form>

</body>
</html>