<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../designs/viewDetails.css">
</head>
<body>
    <div class="upper" >
        <div class="logo" style="display: flex;">
            <div style="color: #2CA4B5;">Easy</div>
            <div style="color: #1B2093;">Pg</div>
         </div>
         <!-- <div style="width: 60%;"></div> -->
         <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none">
            <circle cx="18" cy="18" r="18" fill="#A6A6A6"/>
          </svg>
    </div>

   <div style="overflow: auto;"> <div class="picContainer" style="background-color: aqua;">
            <img src="" alt="" class="messPics">
            <img src="" alt="" class="messPics">
            <img src="" alt="" class="messPics">
            <img src="" alt="" class="messPics">
            <img src="" alt="" class="messPics">
            <img src="" alt="" class="messPics">
            <img src="" alt="" class="messPics">
            <img src="" alt="" class="messPics">
            <img src="" alt="" class="messPics">
            <img src="" alt="" class="messPics">


            <div class="rightArrow">
                <div class="Rectangle148" >
                    <img class="Share1" src="../assests/share 1.png" />
                    <div class="Share" >Share</div>
                </div>

                <div class="Ellipse8">
                    <svg xmlns="http://www.w3.org/2000/svg" width="31" height="16" viewBox="0 0 31 16" fill="none">
                        <path d="M30.7071 8.70711C31.0976 8.31658 31.0976 7.68342 30.7071 7.29289L24.3431 0.928932C23.9526 0.538408 23.3195 0.538408 22.9289 0.928932C22.5384 1.31946 22.5384 1.95262 22.9289 2.34315L28.5858 8L22.9289 13.6569C22.5384 14.0474 22.5384 14.6805 22.9289 15.0711C23.3195 15.4616 23.9526 15.4616 24.3431 15.0711L30.7071 8.70711ZM0 9L30 9V7L0 7L0 9Z" fill="#2CA4B5"/>
                      </svg>
                </div>

                <div class="Rectangle149" >
                    <img class="Picture1" style="width: 22px; height: 22px" src="../assests/picture 1.png" />
                    <div class="ViweAllPhoto" style="color: black; font-size: 16px; font-family: Montserrat; font-weight: 600; word-wrap: break-word">View all photo</div>
                </div>
                
            </div>

    </div></div>
</body>
</html>